<h1>Users#index</h1>

<%= form_for [@group, User.new] do |f| -%>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<%= f.submit "Crear Usuario" %>
<% end -%>

<ul>
	<% @users.each do |user| %>
		<li><%= user.name %></li>
	<% end %>
</ul>